html {
    height: 100%;
}
p{
    color: aliceblue;
}
label{
    color: aliceblue;
}
<<<<<<< HEAD

h1,
h2,
h3,
h4,
h5,
h6 {
 color: aliceblue;
}
=======
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
h4{
    color: aliceblue;
}

>>>>>>> 722c822f52c21d030b30ac64ef2671d5cbe38516
