<h2>Book Details</h2>

<!-- <div *ngIf="bookList.length==undefined; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>{{bookList[0].title}}</ng-template>
<ng-template #elseBlock>
    <h3>{{book[0].title}}</h3>
    <h3>{{book[0].book_cover}}</h3>
    <h3>{{book[0].author}}</h3>
    <h3>{{book[0].publisher}}</h3>  
</ng-template>
<div  >-->
   



<div *ngIf="book.length==0; then noResultsBlock else resultsBlock"></div>
    <ng-template #noResultsBlock>
        <p id="title">No results found.</p>
    </ng-template>

    <ng-template #resultsBlock>
            <td>{{book[0].title}}</td>
       
    </ng-template> 