<div class="container">
    <h2 id="title">About ReadMe.com</h2>
    <hr class="solid">
    <p>◦ A full-stack web application where customers can shop for a large variety of books.</p>
    <p>◦ The main objective of the project is to create an online book store that allows users to search and purchase books online based on Title, Author, ISBN, Publisher or Genre. Customers can add books to their cart for checkout or to their bookmarks to save for later, view their past orders, and view their account information.</p>
</div>