
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Book Isbn</th>
            <th scope="col">Book Cover</th>
            <th scope="col">Book Title</th>
            <th scope="col">Book Author </th>
            <th scope="col">Book Publisher</th>
            <th scope="col">Book Published</th>
            <th scope="col">Book Genre</th>
            <th scope="col">Book Price </th>
            <th scope="col">Book Summary </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of  orderList">
            <td scope="col">{{book.isbn}}</td> 
            <td scope="col">{{book.book_cover}}</td>
            <td scope="col">{{book.title}}</td>
            <td scope="col">{{book.author}}</td>
            <td scope="col">{{book.publisher}}</td>
            <td scope="col">{{book.published}}</td>
            <td scope="col">{{book.genre}}</td>
            <td scope="col">{{book.price}}</td>
            <td >{{book.summary}}</td>
            
        </tr>
    </tbody>
</table>
<div>
<!--     <form [formGroup]="orderGroup">
        <div class="mb-3">
            <label class="form-label">Book Cover </label>
            <input type="text" class="form-control" formControlName="bookCover">
        </div>
        <div class="mb-3">
            <label class="form-label">Book Title</label>
            <input type="text" class="form-control" formControlName="bookTitle">
        </div>
        
        <div class="mb-3">
            <label class="form-label">Book Author</label>
            <input type="text" class="form-control" formControlName=" bookAuthor">
        </div>
        
        <div class="mb-3">
            <label class="form-label">Book Publisher</label>
            <input type="text" class="form-control" formControlName=" bookPublisher">
        </div>
         
        <div class="mb-3">
            <label class="form-label">Book Published </label>
            <input type="text" class="form-control" formControlName="bookPublished">
        </div>
        
        <div class="mb-3">
            <label class="form-label">Book Genre </label>
            <input type="text" class="form-control" formControlName=" bookGenre">
        </div>
        
        <div class="mb-3">
            <label class="form-label">Book Price</label>
            <input type="text" class="form-control" formControlName="bookPrice">
        </div>

        <div class="mb-3">
            <label class="form-label">Book Summary</label>
            <input type="text" class="form-control" formControlName="nbookSummary">
        </div>
        <button type="submit" class="btn btn-danger" (click)="submitBook(orderGroup)">Submit Book</button>

    </form> -->
</div> 

