<!-- Navigation Bar -->
<nav>
  <div class="row">
    <div class="col-2">
      <a class="login-link" routerLink="/login">Login</a> / <a href="#" (click)="logout()">Logout</a>
    </div>
    <div class="col-2">
      <a class="register-link" routerLink="/register">Register Account</a>
    </div>
    <div class="col-2">
      <a class="profile-link" routerLink="/profile">User Profile</a>
    </div>
    <div class="col-2">
      <a class="bookmarks-link" routerLink="/bookmarks">Bookmarks</a>
    </div>
    <div class="col-2">
      <a class="orders-link" routerLink="/orders">Past Orders</a>
    </div>
    <div class="col-2">
      <a class="cart-link" routerLink="/cart">Shopping Cart</a>
    </div> 
  </div>
</nav>
<br><br>
<app-home></app-home>
<!-- Search Component -->
<app-search></app-search>
<br><br>
<!-- Router Component -->
<router-outlet></router-outlet>