<div class="container">
<!-- Navigation Bar -->
<nav>
  <a class="login-link" routerLink="/login">Login</a>
  <br>
  <a class="register-link" routerLink="/register">Register an account</a>
  <br>
  <a class="bookmarks-link" routerLink="/bookmarks">Bookmarks</a>
  <br>
  <a class="cart-link" routerLink="/cart">Shopping Cart</a>
  <br>
  <a class="profile" routerLink="/profile">Profile</a>
</nav>
<!-- Search Component -->
<app-search></app-search>
<!-- Router Component -->
<router-outlet></router-outlet>
</div>