header {
    text-align: center;
}
footer {
    margin: 0;
    width: 100%;
    position: absolute;
    text-align: center;
}
nav {
    background-color: #383331;
}

/* #highlight {
    background-color: #383331;
    color: #EAE6E5;
} */