header {
    text-align: center;
}
footer {
    margin: 0;
    width: 100%;
    position: absolute;
    text-align: center;
}
nav {
    background-color: #383331;
}

/* .container {
    width: 15%;
	margin: 30px auto 0;
    border-radius: 50px;
} */