<h2>Login</h2>
<form [formGroup]="loginGroup">
    <div class="mb-3">
        <label class="form-label" id="login-label"><b>Username: </b></label> 
        <label id="asterisk">* </label>
        <input type="text" class="form-control" formControlName="username" placeholder="Enter username" required> 
        <label class="form-label"><b>Password: </b></label>
        <label id="asterisk">* </label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter password" required>
        <label id="asterisk">* </label>
        <label id="required-text"><small>Required</small></label>
        <br>
        <button type="submit" class="btn btn-danger" (click)="login(loginGroup)">Login</button>
    </div>
</form>