.col-4 {
    text-align: center;
}

#type {
    text-align: center;
    height: 30px;
    width: 10%;
    background-color: lightgray;
}
#search-bar {
    height: 30px;
    width: 90%;
}

#search-btn {
    width: 50%;
}