<div class="catalog-container">
    <h2 id="title">Search Results</h2>
    <hr class="solid">
    <div *ngIf="bookList.length==0; then noResultsBlock else resultsBlock"></div>
    <ng-template #noResultsBlock>
        <p id="title">No results found.</p>
    </ng-template>

    <ng-template #resultsBlock>
        <tr *ngFor="let book of bookList">
            <td>{{book.title}}</td>
        </tr>
    </ng-template>
    
    <!-- <div *ngIf="bookList.length==undefined; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>{{bookList[0].title}}</ng-template>
    <ng-template #elseBlock>
        
    </ng-template> -->
</div>